<!DOCTYPE html>

<title>Hello EmailsController!</title>

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Bonjour Cher candidat de la Promotion 3 de sonatel academy,</h1>
        <p>
            Après les différentes étapes de sélection que tu as passé avec brio,
            nous t’informons que ta candidature a été retenue pour intégrer la
            troisième promotion de la première école de codage gratuite du Sénégal.
        </p>
        <p>
            Vos identifiants vous seront communiqués très prochainement.<br>
        <h1><i>Congratulation</i></h1>
        </p>
        <h1><i>@sowcheikh </i></h1>
    </div>
{% endblock %}
